.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.panelWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

@media screen and (min-width: 375px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin-bottom: 0;
  }
}
