.wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  min-width: 140px;
}
.btn {
  border: none;
  background-color: transparent;
}

.btn:hover {
  scale: 1.1;
}

.span {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: var(--main);
  letter-spacing: -0.14px;
}
.arrow {
  stroke: var(--main);
  stroke-width: 1;
}
.pieIcon {
  stroke-opacity: 0.4;
  fill: none;
}

.pieIcon:hover,
.pieIcon:active {
  stroke-opacity: 1;
}

.pieIconPressed {
  stroke-opacity: 1;
  fill: none;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 170px;
  }
  .span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

.chartButton {
  border: none;
  width: 24px;
  height: 24px;
}
