.chatBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  color: var(--main);
  border: none;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 999;
}

.chatBtn:hover {
  background-color: var(--main);
  color: var(--main-white);
}






