.dayBtn {
  text-align: center;
  background-color: white;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  height: 38px;
  width: 38px;
}
.profit {
  font-size: 12px;
  color: #2f2f2f96;
}

.profitGrey {
  background-color: #d3d3d3;
}

.profitRed {
  background-color: #ff6b6b;
}

.profitYellow {
  background-color: #ffd93d;
}

.profitGreen {
  background-color: #6bcf7f;
}

.dayBtn:hover {
  scale: 1.1;
}
