.container {
  border-radius: 15px;
  padding: 14px 18px;
  background-color: var(--main-white);
  width: 130px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  font-size: 12px;
  color: rgba(92, 91, 91, 0.515);
}
